label{
    color:grey;
}
.form .input{
  
border:none;
outline:none;

width:300px;
border-radius: 4px;
font-size:14px;
margin-block:8px;
}
.body{

font-family: cursive;
}
body{
height:100vh;
font-family:sans-serif;

display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(to right bottom,#dde3f2,rgb(229, 245, 232));
color:rgb(11, 11, 11);


}
.container{
border:1px solid white;
border-radius: 10px;
padding:20px 32px;
display:flex;
flex-direction: column;
background: transparent;
box-shadow: 8px 8px 14px gray;
min-width: 25vw;
background-color: aliceblue;
}
.title{
font-size: 28px;
margin-block:14px;
}
.form .inputs{
background:transparent;
border:none;
outline:none;

width:300px;
border-radius: 4px;
font-size:14px;
margin-block:8px;
}

.form .inputs::-webkit-input-placeholder { 
font-family:cursive;
border-bottom: #3c3d3e;
font-size: 18px;
}
#nullvalue{
font-family:cursive;
border-bottom: 0.5px solid black;
font-size: 13px;
color:rgb(44, 42, 42)

}

.button_sanga{
display: flex;
align-items: center;
}
#submit{
border:none;
outline:none;
padding:12px 24px;
background-color: #2c619e;
color:white;
margin-block:8px;
border-radius: 4px;
cursor: pointer;
font-weight: 600;
font-size: 18px;
margin-block:10px;
}
#submit:hover{
background-color: #2b6db8;
color:aliceblue;
}
#submit:active{
background-color: rgb(50, 77, 118);
}
.link{
font-size: 12px;
margin-left: 12px;
}